QToolBar QPushButton {
    margin-left: 2px;
}
QToolBar QLabel#search_count_label {
    background-color: rgba(255, 77, 80, 0.8);
    color: white;
    border-radius: 2px;
    font-weight: bold;
    margin: 1px;
}
QToolBar QLabel#search_pos_label {
    background-color: rgba(187, 221, 35, 0.9);
    color: darkGreen;
    border-radius: 2px;
    margin: 3px 2px;
}
