cffi==1.17.0rc1
click==8.1.7
cryptography==42.0.7
emoji==2.12.1
iniconfig==2.0.0
Markdown==3.6
packaging==24.0
pluggy==1.5.0
pycparser==2.22
Pygments==2.18.0
PySide6==6.7.1
PySide6_Addons==6.7.1
PySide6_Essentials==6.7.1
qasync==0.27.1
shiboken6==6.7.1
tomli==2.0.1
tomli_w==1.0.0
typing_extensions==4.12.0
# Exclude on macOS
numpy==1.26.4; sys_platform != "darwin"
onnxruntime-genai>=0.2.0; sys_platform != "darwin"