QToolBar QLineEdit#search_input {
    color: whiteSmoke;
}
QToolBar QPushButton {
    margin-left: 2px;
}
QToolBar QLabel#search_input_label {
    margin: 2px;
}
QToolBar QLabel#search_count_label {
    background-color: rgba(255, 127, 80, 0.9);
    color: whiteSmoke;
    border-radius: 2px;
    font-weight: bold;
    margin: 1px;
}
QToolBar QLabel#search_pos_label {
    background-color: whiteSmoke;
    color: palette(base);
    border-radius: 2px;
    margin: 3px 2px;
}
QToolBar QLabel#search_case_sensitive_label {
    margin: 0 2px;
}
QToolBar QCheckBox#search_case_sensitive {
    margin: 0 2px;
}
