/*
 * Check colors set in theme settings
 */
QListView {
    color: whiteSmoke;
    background-color: #101010;
}
QListView::item:hover {
    color: #101010;
    background-color: grey;
}
/*
  QListView::item:selected {}
  or
  QListView::item:selected:active {} + QListView::item:selected:!active {}
*/
QListView::item:selected:active {
    color: whiteSmoke;
    background-color: #cd5c5c;
}
QListView::item:selected:!active {
    color: whiteSmoke;
    background-color: #cd5c5c;
}
QListView::item:selected:focus {
    /* When click on the item till focus persists */
    background-color: #cd5c5c;
}
QListView::item:selected:!focus {
    background-color: #cd5c5c;
}
/* Navigation tree filter field */
QLineEdit {}