QToolBar > QCheckBox { /* QToolBar > QCheckBox: direct children of a QToolBar */
    margin-right: 0;
}
QToolBar QLabel#search_input_label {
    margin: 2px;
}
QToolBar QLabel#search_count_label {
    background-color: rgba(255, 0, 0, 1);
    color: white;
    border-radius: 2px;
    margin: 2px;
}
QToolBar QLabel#search_case_sensitive {
    margin: 0 2px;
}
