QToolBar QLabel#search_input_label {
    margin: 2px;
}
QToolBar QPushButton {
    margin-left: 2px;
}
QToolBar QLabel#search_count_label {
    background-color: rgba(80, 127, 255, 0.8);
    color: white;
    border-radius: 2px;
    font-weight: bold;
    margin: 1px;
}
QToolBar QLabel#search_pos_label {
    background-color: yellowGreen;
    color: white;
    border-radius: 2px;
    margin: 3px 2px;
}
QToolBar QLabel#search_case_sensitive_label {
    margin: 0 2px;
}
QToolBar QCheckBox#search_case_sensitive {
    margin: 0 2px;
}
